<section id="generic-view">
  <header>
    <div>
      <h1 i18n>{{title}}</h1>
      <nav class="breadcrumb">
        <xng-breadcrumb></xng-breadcrumb>
      </nav>
    </div>
   <app-filter-pane></app-filter-pane>
  </header>

  <router-outlet></router-outlet>
</section>
