<button *ngIf="currentUser; else noCurrentUser" class="disabled">
  <img src="{{ currentUser.photos[0].value }}"
       alt="Profile picture for {{ currentUser.displayName }}"
       *ngIf="currentUser.photos?.length"
       aria-hidden="true"/>
  <span>{{ currentUser.name.givenName }}</span>
</button>

<ng-template #noCurrentUser>
  <button><i class="mdi mdi-account-off"></i></button>
</ng-template>
