<div class="container">
  <div class="container__selected">
    <span class="container__selected_label">{{selectedItem && selectedItem[selectedItemKey] || '-'}}</span>
    <fa-icon [icon]="faChevronDown"></fa-icon>
  </div>
  <div class="container__menu">
    <div class="container__menu__overlay">
      <div class="container__menu__overlay__item"
           *ngFor="let item of dataProvider"
           (click)="onSelectedItemChanged(item)">
        <span class="container__menu__overlay__item__label">{{ item[selectedItemKey] }}</span>
        <span class="container__menu__overlay__item__check" *ngIf="selectedItem === item"></span>
      </div>
    </div>
  </div>
</div>
