@dropdown-bg-color: #292e30;
@dropdown-overlay-bg-color: #282e30;
@dropdown-overlay-shadow-color: #2121211A;
@dropdown-color: #8ea2ab;
@grey-bg: '#2D3436';
@grey-border: '#2D3436';
@check-border-width: 1px;
@check-height: 12px;
@check-width: 6px;
@check-border-color: black;

:host {
  padding-right: 10px;

  .container {
    max-height: 38px;
    width: 120px;
    position: relative;
    font-size: 12px;
    color: @dropdown-color;
    text-transform: capitalize;
    height: 38px;
    background: @dropdown-bg-color 0 0 no-repeat padding-box;
    box-shadow: 0 1px 8px @dropdown-overlay-shadow-color;
    border-radius: 4px;

    &:hover > .container__menu {
      visibility: visible;
      opacity: 1;
      cursor: pointer;
    }

    &__selected {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      font-size: 14px;
      line-height: 38px;
    }

    &__menu {
      position: absolute;
      margin-top: -36px;
      background-color: @grey-bg;
      visibility: hidden;
      opacity: 0;
      z-index: 10;

      &__overlay {
        min-width: 120px;
        width: 100%;
        padding: 0;
        margin: 0;
        max-height: 300px;
        overflow-y: auto;
        background-color: @dropdown-overlay-bg-color;
        box-shadow: 0 1px 8px @dropdown-overlay-shadow-color;
        border-radius: 4px;

        &__item {
          display: flex;
          padding: 0.75em;
          color: white;
          font-size: 13px;

          &:hover {
            background-color: var(--accent-brand);
            color: black;
            cursor: pointer;

            .container__menu__overlay__item__check {
              border-bottom: @check-border-width solid @check-border-color;
              border-right: @check-border-width solid @check-border-color;
            }
          }

          &__label {
            flex: 1;
          }

          &__check {
            transform: rotate(45deg);
            height: @check-height;
            width: @check-width;
            border-bottom: @check-border-width solid white;
            border-right: @check-border-width solid white;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
