<div class="container" *ngIf="!!enrichedPrediction">
  <span class="container__name">{{enrichedPrediction.name}}</span>
  <progress class="container__progress" max="100" value="{{enrichedPrediction.value}}"></progress>
  <span class="container__value">{{enrichedPrediction.value}}%</span>
</div>
