@progress-value-color: #58c1b8;
@progress-bar-color: #1b1f22;
:host {

  .container {
    display: flex;
    align-items: center;
    margin-top: 15px;

    span {
      font-size: 16px;
      font-weight: 700;
    }

    &__name {
      flex-basis: 80px;
      text-align: left;
    }

    progress[value] {
      appearance: none;
    }

    progress[value]::-webkit-progress-bar {
      background-color: @progress-bar-color;
      border-radius: 10px 0 0 10px;
    }

    progress[value]::-webkit-progress-value {
      background-color: @progress-value-color;
      border-radius: 10px 0 0 10px;
    }

    progress, &__progress {
      flex: 1;
      height: 5px;
      border: none;
      background-size: auto;
    }

    &__value {
      flex-basis: 50px;
      text-align: right;
    }
  }
}
