@default-fa-icon-color: #b0b7a1;
@strip-info-bg-color: #111212;
@contrast-button-color: #1B1F22;

// =================== Strip Info ===================
.strip-info {
  flex: 1;
  justify-content: flex-start;
  border-left: 2px solid var(--button-primary-bg);
  background-color: @strip-info-bg-color;

  fa-icon {
    color: @default-fa-icon-color;
    margin: 0 4px;
  }

  &.--small {
    padding-left: 2px;
    font-size: 12px;
    margin-right: 4px;
    max-width: 42px;
  }
}

.button {
  color: white !important;
  background-color: var(--button-bg) !important;

  &.--blue {
    color: @contrast-button-color  !important;
    background-color: var(--button-active-bg) !important;
  }

  &.--green {
    color: @contrast-button-color  !important;
    background-color: var(--button-primary-bg) !important;
  }

  &.--large {
    width: 120px;
    height: 38px;
  }
}
