@default-fa-icon-color: #b0b7a1;
@topic-view-bg-color: #1B1F22;

:host {
  margin: 6px 4px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    background: @topic-view-bg-color;
    border-radius: 4px;
    border-left: 3px solid;
    max-width: 190px;

    fa-icon {
      color: @default-fa-icon-color;
      margin: 0 6px 0 6px;
    }

    &__name {
      flex-basis: 140px;
      font-size: 14px;
      letter-spacing: 0;
      color: white;
    }

    &__value {
      background: black 0 0 no-repeat padding-box;
      border-radius: 50px;
      color: white;
      padding: 2px 8px;
      margin: 0 4px;
    }
  }

  .--offensive {
    border-color: var(--offensive);
  }

  .--supersafe {
    border-color: var(--supersafe);
  }

  .--whitelisted {
    border-color: var(--whitelisted);
  }

  .--questionable {
    border-color: var(--questionable);
  }

  .--global-chat {
    fa-icon {
      color: white;
    }
    border-color: #7ed321;
  }

  .--private-chat {
    fa-icon {
      color: white;
    }
    border-color: #ED0423;
  }
}
