<div class="container {{class}}">
  <fa-icon [icon]="icon" [size]="size" *ngIf="!!icon"></fa-icon>
  <span class="container__name">{{name}}</span>
  <span class="container__value" *ngIf="!!id">{{id}}</span>
</div>
