:host {
  background: var(--page-header-bg);
  padding: 1em var(--page-content-padding);
  grid-area: header;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-page-width);
  margin: 0 auto;
}
