@container-bg-color: var(--button-subtle-bg);
@container-item-bg-color: #292E2F;
@container-item-text-color: var(--text-color);
@dropdown-bg-color: #292e30;
@dropdown-selected-item-bg-color: #353b3d;


:host {
  margin-right: 20px;
  margin-bottom: 20px;

  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background-color: @container-bg-color;

    &__item {
      display: flex;
      flex-direction: column;
      color: @container-item-text-color;
      margin: 10px 0;
      font-weight: bold;
      font-size: 20px;
      text-align: left;

      &__sub {
        background: @container-item-bg-color;
        height: 48px;
        margin: 10px 10px;
        padding: 10px 20px;
        position: relative;

        &:hover app-words-matrix-dropdown {
          left: 0;
          top: 48px;
          margin-left: 0;
        }
      }
    }

    .--bordered {
      border-radius: 4px;
    }

    .--solved {
      color: var(--solved);
    }

    .--supersafe {
      background-color: var(--supersafe);
    }

    .--whitelisted {
      background-color: var(--whitelisted );
    }

    .--questionable {
      background-color: var(--questionable);
    }

    .--offensive {
      background-color: var(--offensive);
    }
  }
}
