<div class="container" *ngIf="!!wordsMatrix">
  <div class="container__item" *ngFor="let words of wordsMatrix;">
    <div class="container__item__sub">
      <span>{{words.original}}</span>
    </div>
    <div class="container__item__sub --solved --bordered {{riskLevelClass(words)}}">
      <span>{{words.solution}}</span>
      <app-words-matrix-dropdown [words]="words"></app-words-matrix-dropdown>
    </div>
  </div>
</div>
