<div class="container">
  <fa-icon class="container__refresh"
           (click)="searchService.refreshSearch($event)"
           [icon]="faSyncAlt"
           size="lg"></fa-icon>
  <app-dropdown class="container__language-selector"
                [dataProvider]="languages"
                [selectedItem]="selectedLanguage"
                (selectedItemChanged)="onUserChangedLanguage($event)">
  </app-dropdown>

  <app-dropdown class="container__client-selector"
                [dataProvider]="clients"
                [selectedItem]="selectedClient"
                (selectedItemChanged)="onUserChangedClient($event)">
  </app-dropdown>

  <app-dropdown class="container__client-selector"
                [dataProvider]="contentTypes"
                [selectedItem]="selectedContentType"
                (selectedItemChanged)="onUserChangedContentType($event)">
  </app-dropdown>

  <app-checkbox
    [selected]="searchService.deeperAnalysis$.getValue()"
    (selectionChanged)="searchService.toggleDeepAnalysis()"
    text="Deeper Analysis">
  </app-checkbox>
</div>
