<select name="contentType"
        [(ngModel)]="selectedContentType"
        (change)="onContentTypeChanged()">
  <option *ngFor="let contentType of contentTypes"
          [ngValue]="contentType.id">{{ contentType.name }}</option>
</select>
