<div class="audit-rules" *ngIf="!!textClassifiedOutput">
  <app-words-matrix [wordsMatrix]="textClassifiedOutput.enrichedExtended"></app-words-matrix>
  <app-analysis [textClassifiedOutput]="textClassifiedOutput"></app-analysis>
</div>

<!-- LOADING PROGRESS -->
<div *ngIf="isLoading" class="loading">
  <loading-indicator [loading]="true">
    Loading...
  </loading-indicator>
</div>




