@tablet: ~"only screen and (max-width: 959px)";
@container-bg-color: var(--button-subtle-bg);

.loading {
  width: 100%;
  height: 300px;
  font-size: 22px;
  color: white;
  background-color: var(--button-subtle-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.audit-rules {
  width: 100%;
  display: flex;
  flex-direction: row;

  app-words-matrix {
    flex: 1;
  }

  app-analysis {
    flex-basis: 398px;
  }

  @media @tablet {
    flex-direction: column;
    app-words-matrix {
      flex: 1;
    }
  }
}
