<ng-container class="container" *ngIf="!!textClassifiedOutput">
  <div class="container__searched-text">
    {{textClassifiedOutput.text}}
  </div>
  <hr class="container__separator"/>
  <div class="container__info">
    <div class="container__info__topics">
      <label>Topics</label>
      <app-topic-view
        *ngFor="let enrichedTopics of textClassifiedOutput.enrichedTopics"
        [mode]="'Topics'"
        [enrichedTopics]="enrichedTopics">
      </app-topic-view>
    </div>
    <div class="container__info__topics">
      <label>Policy Guides</label>
      <app-topic-view
        [mode]="'PolicyGuides'"
        [chatView]="globalChatView">
      </app-topic-view>
      <app-topic-view
        [mode]="'PolicyGuides'"
        [chatView]="privateChatView">
      </app-topic-view>
    </div>
  </div>
  <hr class="container__separator"/>
  <div class="container__ia-prediction">
    <label>AI Prediction</label>
    <app-ai-prediction-view
      *ngFor="let enrichedPrediction of textClassifiedOutput.enrichedPredictions"
      [enrichedPrediction]="enrichedPrediction"
    ></app-ai-prediction-view>
  </div>
  <hr class="container__separator"/>
  <div class="container__buttons">
    <button class="button --large">Escalate</button>
    <button class="button --large --blue">Gerkin Test</button>
    <button class="button --large --green">Create Rule</button>
  </div>
</ng-container>
