@container-bg-color: var(--button-subtle-bg);
@label-color: #636D73;

:host {
  background-color: @container-bg-color;
  margin-right: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .container {

    &__separator {
      width: 94%;
      height: 0;
      border: 0;
      border-top: solid 2px var(--hr-color);
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &__searched-text {
      text-align: left;
      font-size: 24px;
      font-weight: Bold;
      letter-spacing: 0;
      color: var(--text-color);
      margin-left: 12px;
    }

    &__info {
      display: flex;
      margin: 0 6px;
      flex-direction: row;
      justify-content: space-between;

      label {
        text-align: left;
        font-size: 12px;
        font-weight: 900;
        color: @label-color;
      }

      &__topics, &__policy {
        display: flex;
        flex-direction: column;
        min-width: 171px;
      }
    }

    &__ia-prediction {
      display: flex;
      flex-direction: column;
      margin: 0 6px;
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      margin: 0 6px;
    }
  }
}
