<ng-container>
  <div class="item" *ngFor="let token of words.enrichedTokens">
    <span class="item__value --mr10">{{token.maxEnrichedTopic.topicRate.id}}</span>
    <span class="item__solution --mr20">{{token.text}}</span>
    <span class="item__language --mr10">{{token.language}}</span>
    <div class="strip-info --small" *ngFor="let topic of token.enrichedTopics">
      <fa-icon [icon]="faComments" [size]="'sm'"></fa-icon>
      <span>{{topic.topicRate.id}}</span>
    </div>
  </div>
</ng-container>
