@dropdown-selected-item-bg-color: #353b3d;
@dropdown-bg-color: #292e30;
@dropdown-ruler-bg-color: #373f41;
@value-color: #1a1d1f;
@value-bg-color: #2dff5d;
@language-color: #8a9393;

:host {
  margin-left: -999em;
  position: absolute;
  z-index: 99;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
  background: @dropdown-bg-color;

  .item {
    display: flex;
    color: white;
    margin: 0;
    align-items: center;
    padding: 10px 8px;
    font-size: 14px;
    font-weight: normal;
    height: 48px;
    width: 300px;

    &:not(:last-child) {
      border-bottom: 1px solid @dropdown-ruler-bg-color;
    }

    .--mr10 {
      margin-right: 10px;
    }

    .--mr20 {
      margin-right: 10px;
    }

    &__value {
      width: 26px;
      border-radius: 4px 0 0 4px;
      text-align: right;
      padding-right: 10px;
      font-weight: 600;
      color: @value-color;
      background-color: @value-bg-color
    }

    &__solution {
      font-weight: bold;
      flex-basis: 130px;
    }

    &__language {
      color: @language-color;
    }


    &:hover {
      background: @dropdown-selected-item-bg-color;
    }
  }
}
