:host {
  .container {
    width: 140px;
    display: flex;
    align-items: center;

    .switch {
      cursor: pointer;
      background: #15273b;
      width: 42px;
      height: 20px;
      border-radius: 17.5px;

      input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }

      &--on {
        height: 100%;
        display: grid;
        transition: .2s;
        grid-template-columns: 1fr 1fr 0;

        &::after {
          content: '';
          border-radius: 50%;
          background-color: var(--button-active-bg);
          grid-column: 2;
          transition: background .2s;
        }
      }

      &--off {
        height: 100%;
        display: grid;
        transition: .2s;
        grid-template-columns: 0 1fr 1fr;

        &::after {
          content: '';
          border-radius: 50%;
          background: #ccc;
          grid-column: 2;
          transition: background .2s;
        }
      }
    }

    .text {
      font-size: 12px;
      color: #8ea2ab;
      margin-left: 10px;
    }
  }
}
