<div class="container" (click)="onToggle()">
  <div class="switch">
    <input type="checkbox" id="checkbox"/>
    <span [ngClass]="{'switch--on': selected, 'switch--off': !selected}"></span>
  </div>
  <span class="text">{{text}}</span>
</div>

